html, body, #root, .App {
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 3px 8px;
}
.row {
  margin: 0;
}
.footer {
  margin-top: auto;
}
body{
  background-color: #e3e3e7;
}
input {
  outline-color: #a9a9a9;
  outline-style: none;
  outline-width: 1px;
}
input:focus{
  outline-style: solid;
}
.table td {
  vertical-align: middle;
}
.nav-link {
  color: White;
}
.nav-link:hover {
  color: White;
  border: 0;
}
.locked-recipe-craftable {
  fill: red;
  position: absolute;
  margin: 0 -20px;
}
